{% load i18n %}
<div>
    <h3>{% trans "Hello" %}, {{user.get_full_name}}!</h3>
    <p>
        {% trans "It looks like you've forgotten your password. You can reset it by clicking on the link" %},
        <a href="{{settings.WEB_URL}}/password_reset/{{password_reset_token.token}}">{% trans "Redefine password"|lower %}</a>.
        <br />
        {% trans "If you have not requested to change your password" %},
        <a href="{{request.get_host}}/report_password_reset/{{password_reset_token.token}}">{% trans "Report here"|lower %}</a>.
    </p>

    <p>
        {% trans "Thank you" %},
        <br />
        <a href="{{settings.WEB_URL}}">{{settings.APP_NAME}}</a>
    </p>
</div>